body {
  background-color: #EFEFEF;
  outline: red dashed 1px;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFEFEF;
  overflow: hidden;
  padding: 10px 20px;
  outline: red dashed 1px;
}

.left-nav {
  display: flex;
  align-items: center;
  outline: red dashed 1px;
}

.left-nav a {
  color: #FF3B3F;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  outline: red dashed 1px;
}

.topnav a:hover {
  background-color: #edf5e1;
}

.topnav #brand {
  flex: 1;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  outline: red dashed 1px;
}

.topnav #contact-button {
  padding: 10px 20px;
  background-color: #f44336;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: red dashed 1px;
}

.section {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #A9A9A9;
  text-align: center;
  padding: 20px;
  background-color: #EFEFEF;
  outline: red dashed 1px;
}