/* Add a neutral background color to the body */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  background: #7bc1a9;
  overflow-x: hidden;
}

/* Add a white background color to the top navigation */
.topnav {
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change link properties when hovered over */
.topnav a:hover {
  color: #7bc1a9;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}

.orange {
  background: #e27d5f;
}

.light-blue {
  background: #84cdca;
}

.sand {
  background: #e8a87c;
}

.purple {
  background: #c38d9d;
}

.dgreen {
  background: #40b3a2;
}

.lgreen {
  background: #7bc1a9;
}

.layered-waves {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(welcome_layered_waves.svg);
  text-align: center;
  padding-top: 100px;
}