/* Add a neutral background color to the body */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  background: #7bc1a9;
  overflow-x: hidden;
  width: 100%;
}

/* Add a white background color to the top navigation */
.topnav {
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 2;
  padding: 10px 0;
  outline: red dashed 3px;
}

/* Style the links inside the navigation bar */
.topnav a,
.topnav b {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block; /* Display the links as blocks */
  outline: red dashed 3px;
}

/* Change link properties when hovered over */
.topnav a:hover {
  color: #7bc1a9;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Define structure for a section */
section {
  position: relative;
  align-items: center;
  min-height: 100vh;
  padding: 100px 5vw;
  outline: red dashed 3px;
}

/* Define structure for projects section */
#projects {
  min-height: 100vh;
  padding: 100px 5vw;
}

/* Define structure for contact section */
#contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 100px 20vw;
}

.orange {
  background: #e27d5f;
}

.light-blue {
  background: #84cdca;
}

.sand {
  background: #e8a87c;
}

.purple {
  background: #c38d9d;
}

.dgreen {
  background: #40b3a2;
}

.lgreen {
  background: #7bc1a9;
}

/* Wave for welcome section */
.layered-waves {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(welcome_layered_waves.svg);
  text-align: center;
  padding-top: 100px;
}

.layered-waves h1 {
  font-size: 86px;
}

.aboutme-wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.aboutme-wave-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 300px;
}

.aboutme-wave-top .shape-fill {
  fill: #C38D9D;
}

.aboutme-wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.aboutme-wave-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 300px;
}

.aboutme-wave-bottom .shape-fill {
  fill: #84CDCA;
}

.aboutme {
  display: flex;
  flex-direction: row;
}

.aboutme > * {
  flex: 1;
  box-sizing: border-box;
  outline: red dashed 3px;
}

.aboutme-content {
  font-size: 20px;
  position: relative;
  z-index: 1;
}

.aboutme-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.aboutme-photo img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10%;
}

@media (max-width: 768px) {
  .aboutme {
    flex-direction: column; /* Stack items vertically on narrow screens */
  }

  .aboutme-content,
  .aboutme-photo {
    width: 100%; /* Make each item take up full width */
    max-width: none; /* Remove max-width restrictions */
    margin: 0; /* Remove margin for each item */
    padding: 20px; /* Add padding for spacing */
  }

  .aboutme-photo {
    order: -1; /* Change the order of the photo div to come before content */
  }
}

.projects-tilt-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.projects-tilt-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 180px;
}

.projects-tilt-top .shape-fill {
  fill: #40B3A2;
}

.projects-tilt-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.projects-tilt-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 180px;
}

.projects-tilt-bottom .shape-fill {
  fill: #40B3A2;
}

.media-scroller {
  display: grid;
  grid-auto-flow: column;

  overflow-x: auto;
  overscroll-behavior-inline: contain;

  outline: red dashed 3px;

}

.media-element {
  height: 50vh;
  width: 50vh;
  display: grid;
  grid-template-rows: min-content;
  gap: 20px;
  background: #40B3A2;
  border-radius: 20px;
  margin-right: 50px;
  padding: 30px;
  outline: red dashed 3px;
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  outline: red dashed 3px;
}

@media (max-width: 600px) {
  .media-element {
    flex: 0 0 calc(100% - 20px); /* Each element takes up full width minus margin */
    margin-right: 20px;
    margin-bottom: 10px; /* Add vertical spacing */
  }
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 10px;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/*Blob css*/
#visual {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}